.container {
    display: flex; /* or inline-flex */
    width: 100%;
    flex-wrap: wrap;
  }

.grid-item {
    margin: 1em;
    width: 300px;
}

.song-item {
  margin: 1em;
  display: center;
  width: 100%;
}